.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40% 70%;
    background-color: blue;
}

.gameboard {
    display: flex;
    grid-area: 2 / 2 / 3 / 2;
    background-color: grey;
}

.column {
    display: flex;
    background-color: red;
    width: 10%;
    height: 100%;
    flex-grow: 1;

}
.cell {
    background-color: green;
    flex-grow: 1;
}